<!DOCTYPE html>
<html>
<head lang="zh">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
  <title>查看候选人 - 挖牛管理系统</title>
  <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/header-layout.css">
  <link rel="stylesheet" href="/stylesheets/admin/applylist.css">
</head>
<body>
<% include header-layout %>

<div class="am-container applylist">
  <section class="am-panel am-panel-default">
    <header class="am-panel-hd">
      <h3 class="am-panel-title">
        <i class="am-icon-eye am-icon-sm"></i>
        <%= job.jobTitle.name %> 候选人
      </h3>
    </header>
    <div class="am-panel-bd">
      <div class="am-panel am-panel-default">
        <div class="am-panel-bd">
          <i class="am-icon-cny"></i><%= job.minSalary %>K - <%= job.maxSalary %>K
          &nbsp;&nbsp;<i class="am-icon-graduation-cap"></i>&nbsp;<%= job.degree %>
          &nbsp;&nbsp;<i class="am-icon-map-marker"></i>&nbsp;<%= job.city %>
        </div>
      </div>
      <% if(applyList.length > 0){ %>
      <table class="am-table">
        <thead>
        <tr>
          <th>姓名</th>
          <th>电话</th>
          <th>城市</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0, len = applyList.length;i < len;i++){ %>
        <tr>
          <td><%= applyList[i].name %></td>
          <td><%= applyList[i].phone %></td>
          <td><%= applyList[i].city %></td>
        </tr>
        <% } %>
        </tbody>
      </table>
      <ul class="am-pagination am-pagination-centered"
          data-page-total="<%= pageData.totalPage %>"
          data-page-current="<%= pageData.currentPage %>">
      </ul>
      <% }else{ %>
      <p>该职位暂无候选人</p>
      <% } %>
    </div>
  </section>
</div>
</body>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/amazeui/dist/js/amazeui.min.js"></script>
<script type="text/javascript" src="/javascripts/amazeui-pagination/amazeui-pagination.min.js"></script>
<script>
  $(function () {
    var count = Number($('.am-pagination').attr('data-page-total'));
    if(count>0) {
      var pagination = new Pagination({
        wrap: $('.am-pagination'),
        count: Number($('.am-pagination').attr('data-page-total')),
        current: Number($('.am-pagination').attr('data-page-current')),
        prevText: '上一页',
        nextText: '下一页',
        callback: function (page) {
          console.log(page);
          console.log(location.search);
          location.search = 'page=' + page;
        }
      });
    }
  });
</script>
</html>
