<!DOCTYPE html>
<html>
<head lang="zh">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
  <title>报表 - 挖牛管理系统</title>
  <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.0/css/amazeui.min.css">
  <style>

    .am-btn-primary {
      background-color: #FDC72E !important;
      border-color: #FDC72E !important;
    }

    .am-btn-primary:focus, .am-btn-primary:hover {
      background-color: #FDC72E !important;
      border-color: #FDC72E !important;
    }

    .am-btn-primary:active {
      background-color: #FDC72E !important;
      border-color: #FDC72E !important;
    }

    .am-btn:focus {
      outline-color: #FDC72E !important;
    }

  </style>
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/admin/header-layout.css">
  <link rel="stylesheet" href="/stylesheets/admin/report-forms.css">
</head>
<body>
<% include header-layout %>

<div class="container am-container">
  <section class="am-panel am-panel-default">
    <header class="am-panel-hd">
      <h3 class="am-panel-title">
        <img src="http://7xw3ob.com1.z0.glb.clouddn.com/newjob_table2x.png" class="">
        报表
      </h3>
    </header>
    <div class="am-panel-bd">
      <form class="am-form-inline am-margin-bottom-sm" role="form" method="get">
        <div class="am-form-group">
          <input name="jobTitle" type="text" class="am-form-field" placeholder="职位名称">
        </div>
        <div class="am-form-group">
          <input name="city" type="text" class="am-form-field" placeholder="城市">
        </div>
        <div class="am-form-group">
          <input name="workExperience" type="text" class="am-form-field" placeholder="工作年限">
        </div>

        <button type="submit" class="am-btn am-btn-primary am-margin-left-sm">搜索</button>
      </form>

      <div class="search-result-label am-margin-bottom-sm">
        搜索结果 | <%= applyList.length %> 候选人
      </div>

      <table class="am-table am-table-hover am-table-centered">
        <thead>
        <tr>
          <th class="am-text-left">职位名称</th>
          <th>姓名</th>
          <th>电话</th>
          <th>电子邮件</th>
          <th>地址</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0, len = applyList.length;i < len;i++){ %>
        <tr>
          <td class="am-text-left">
            <a href="/admin/lookjob/<%= applyList[i].job._id %>">
              <%= applyList[i].job.jobTitle %>
            </a>
          </td>
          <td><%= applyList[i].name %></td>
          <td class="am-text-center"><%= applyList[i].phone %></td>
          <td class="am-text-center"></td>
          <td class="am-text-center"><%= applyList[i].city %></td>
        </tr>
        <% } %>
        </tbody>
      </table>

      <ul class="am-pagination am-pagination-centered"
          data-page-total="<%= pageData.totalPage %>"
          data-page-current="<%= pageData.currentPage %>">
      </ul>
    </div>
  </section>

</div>
</body>
</html>
