<!DOCTYPE html>
<html>
<head lang="zh">
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>挖牛速聘-职位速递</title>
  <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.0/css/amazeui.min.css">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
<div class="header">
  <header class="am-topbar am-topbar-inverse am-show-md-up">
    <div class="am-container">
      <a href="/"><img src="/images/logo2.png" alt="logo" class="logo"></a>
    </div>
  </header>
  <img class="header-background am-show-md-up" src="/images/header_background.jpg" alt="背景">
  <div class="am-container am-show-sm-down am-text-center" style="margin-bottom: 40px;padding-top: 20px">
    <a href="/"><img src="/images/logo2.png" alt="logo" class="logo"></a>
  </div>
  <div class="header-content am-show-md-up">
    <i class="am-icon-search mr10"></i>
    来牛坑找到你心仪的工作
  </div>
  <div class="am-g">
    <div class="am-u-md-6 am-u-md-offset-3 am-u-sm-12">
      <input id="searchInput" type="text" class="am-form-field am-round" placeholder="职位描述,地点等"/>
    </div>
  </div>
</div>
<div class="container am-container">
  <div class="row am-show-md-up">
    <div class="am-md-12">
      <div class="container-header">
        <img src="/images/hot2x.png" alt="hot">
        <span class="am-text-middle">热气牛坑</span>
      </div>
    </div>
  </div>
  <!--<div class="row am-show-md-up">-->
  <!--<div class="am-md-12">-->
  <!--<ul class="container-sort am-cf">-->
  <!--<li class="active">最新</li>-->
  <!--<li>热门</li>-->
  <!--</ul>-->
  <!--</div>-->
  <!--</div>-->
  <div class="am-show-sm-down am-cf" style="position: relative;margin-bottom: 10px">
    <div class="am-fl">
      <img src="/images/hot2x.png" alt="hot" style="height: 20px;vertical-align: middle">
      <span class="am-text-middle" style="font-size: 20px;font-weight: 600;color: #666">热气牛坑</span>
    </div>
    <!--<div class="am-fr am-text-center">-->
    <!--<a class="am-badge am-round">最新</a>-->
    <!--<a class="am-badge am-round">热门</a>-->
    <!--</div>-->
  </div>
  <div id="content" class="content">
    <% for(var i = 0, len = jobs.length;i < len;i++){ %>
    <div class="content-item">
      <div class="content-item-title">
        <%= jobs[i].jobTitle.name %>
        <div class="am-show-md-up apply-job"
             data-job-name="<%= jobs[i].jobTitle.name %>"
             data-job-id="<%= jobs[i]._id %>"
             data-am-modal="{target: '#applyPopup'}">
          <span class="content-item-title-right">占坑</span>
          <img class="content-item-title-apply" src="/images/zhankeng.jpg" alt="占坑">
        </div>
      </div>
      <div class="content-item-tag">
        <div>
          <i class="am-icon-cny"></i><%= jobs[i].minSalary %>K - <%= jobs[i].maxSalary %>K
          &nbsp;<i class="am-icon-graduation-cap"></i>&nbsp;<%= jobs[i].degree %>
          &nbsp;<i class="am-icon-map-marker"></i>&nbsp;<%= jobs[i].city %>
        </div>
        <% if(jobs[i].attraction.length != 0){ %>
        <div class="am-cf">
          <span class="am-show-md-up am-fl">职位诱惑:&nbsp;</span>
          <span class="am-show-md-up"><%= jobs[i].attraction.join(',') %></span>
          <div class="am-show-sm-down">
            <% for(var j = 0;j < jobs[i].attraction.length;j++){ %>
            <i class="am-icon-tag"></i>&nbsp;<%= jobs[i].attraction[j] %>&nbsp;
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
      <div class="content-item-desc">
        <%- jobs[i].description %>
      </div>
      <div class="mobile-apply am-text-center am-show-sm-down">
        <button type="button"
                class="am-btn am-btn-primary am-radius apply-job"
                data-job-name="<%= jobs[i].jobTitle.name %>"
                data-job-id="<%= jobs[i]._id %>"
                data-am-modal="{target: '#applyPopup'}">
          <img src="/images/keng2x.png" alt="">
          <span class="am-text-middle">占坑</span>
        </button>
      </div>
    </div>
    <% } %>
  </div>
</div>
<div class="am-popup" id="applyPopup">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
      <h4 class="am-popup-title">请完善信息</h4>
      <span data-am-modal-close class="am-close">&times;</span>
    </div>
    <div class="am-popup-bd">
      <div class="am-input-group">
        <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
        <input id="applyName" type="text" class="am-form-field" placeholder="姓名">
      </div>
      <div class="am-input-group">
        <span class="am-input-group-label"><i class="am-icon-mobile am-icon-fw"></i></span>
        <input id="applyPhone" type="text" class="am-form-field" placeholder="手机">
      </div>
      <div class="am-input-group">
        <span class="am-input-group-label"><i class="am-icon-map-marker am-icon-fw"></i></span>
        <input id="applyCity" type="text" class="am-form-field" placeholder="所在城市">
      </div>
      <button id="applySubmit" class="am-btn am-btn-primary am-btn-block">确认</button>
      <input id="applyJobId" style="visibility: hidden"/>
    </div>
  </div>
</div>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
  <a href="#top" title="回到顶部">
    <span class="am-gotop-title">回到顶部</span>
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/template.js"></script>
<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.0/js/amazeui.min.js"></script>
<script id="jobTpl" type="text/html">
  {{each jobs as job index}}
  <div class="content-item">
    <div class="content-item-title">
      {{ job.jobTitle.name }}
      <div class="am-show-md-up apply-job"
           data-job-name="{{ job.jobTitle.name }}"
           data-job-id="{{ job.jobTitle._id }}"
           data-am-modal="{target: '#applyPopup'}">
        <span class="content-item-title-right">占坑</span>
        <img class="content-item-title-apply" src="/images/zhankeng.jpg" alt="占坑">
      </div>
    </div>
    <div class="content-item-tag">
      <div>
        <i class="am-icon-cny"></i>{{ job.minSalary }}K - {{ job.maxSalary }}K
        &nbsp;<i class="am-icon-graduation-cap"></i>&nbsp;{{ job.degree }}
        &nbsp;<i class="am-icon-map-marker"></i>&nbsp;{{ job.city }}
      </div>
      {{if job.attraction.length}}
      <div>
        <span class="am-show-md-up am-fl">职位诱惑:&nbsp;</span>
        <span class="am-show-md-up">{{ job.attraction.join(',') }}</span>
        <div class="am-show-sm-down">
          {{each job.attraction as attractionValue attractionIndex}}
          <i class="am-icon-tag"></i>&nbsp;{{ attractionValue }}&nbsp;
          {{/each}}
        </div>
      </div>
      {{/if}}

    </div>
    <div class="content-item-desc">
      {{# job.description }}
    </div>
    <div class="mobile-apply am-text-center am-show-sm-down">
      <button type="button"
              class="am-btn am-btn-primary am-radius apply-job"
              data-job-name="{{ job.jobTitle.name }}"
              data-job-id="{{ job._id }}"
              data-am-modal="{target: '#applyPopup'}">
        <img src="/images/keng2x.png" alt="">
        <span class="am-text-middle">占坑</span>
      </button>
    </div>
  </div>
  {{/each}}
</script>

<script src=" http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script>
  $(function () {
    var pageNum = 1;
    $('.apply-job').on('click', function (e) {
      var attr = e.currentTarget.attributes;
      $('#applyJobId').val(attr['data-job-id'].value);
    });
    var loading = false;
    var totalHeight;
    $(window).scroll(function () {
      totalHeight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
      if ($(document).height() <= totalHeight) {
        if (!loading) {
          loading = true;
          pageNum += 1;
          $.ajax({
            url: '/jobs/' + pageNum,
            method: 'get',
            success: function (res) {
              loading = false;
              var html = template('jobTpl', {jobs: res});
              $('#content').append(html);
            }
          });
        }
      }
    });

    $('#searchInput').on('keypress', function (e) {
      if (e.keyCode === 13) {
        console.log($(this).val());
        $.ajax({
          url: '/search',
          method: 'post',
          data: {
            key: $(this).val()
          },
          success: function (res) {
            var html = template('jobTpl', {jobs: res});
            $('#content').html(html);
          }
        });
      }
    });

    $('#applySubmit').on('click', function (e) {
      var data = {
        jobId: $('#applyJobId').val(),
        name: $('#applyName').val(),
        phone: $('#applyPhone').val(),
        city: $('#applyCity').val()
      };
      if (data.jobId == '' || data.name == '' || data.phone == '' || data.city == '') {
        return;
      }
      $.ajax({
        url: '/applyjob',
        method: 'post',
        data: data,
        success: function (res) {
          $('#applyPopup').modal('close');
        }
      });
    });

    //微信sdk
    $.ajax({
      url: "/wsjsdk",
      method: 'POST',
      data: {"url": '51waniu.com'},   //测试，上线记得修改
      success: function (data) {
        var result = data.result;


        wx.config({
          debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
          appId: result.appId, // 必填，公众号的唯一标识
          timestamp: result.timestamp, // 必填，生成签名的时间戳
          nonceStr: result.nonce_arr, // 必填，生成签名的随机串
          signature: result.jsapi_ticket,// 必填，签名，见附录1
          jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo',
            'onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

        var wxData = {
          'imgUrl': '',
          'link': window.location.href,
          'title': "挖牛职位速递",
          'desc': "看一眼又不会怀孕，快来看下吧",
          'type': 'link'
        };


        wx.ready(function () {


          wx.onMenuShareTimeline({
            title: wxData.title,
            link: wxData.link,
            imgUrl: wxData.imgUrl,
            success: function () {
              TDAPP.onEvent("微信朋友圈分享成功");
            },
            cancel: function () {
              TDAPP.onEvent("微信朋友圈分享取消");
            }
          });

          wx.onMenuShareAppMessage({
            title: wxData.title,
            desc: wxData.desc,
            link: wxData.link,
            imgUrl: wxData.imgUrl,
            type: wxData.type,
            dataUrl: '',
            success: function () {
              TDAPP.onEvent("微信分享成功");
            },
            error: function () {
              TDAPP.onEvent("微信分享取消");
            }
          });

          wx.onMenuShareQQ({
            title: wxData.title,
            desc: wxData.desc,
            link: wxData.link,
            imgUrl: wxData.imgUrl,
            success: function () {
              TDAPP.onEvent("qq分享成功");
            },
            error: function () {
              TDAPP.onEvent("qq分享取消");
            }
          });

          wx.onMenuShareWeibo({
            title: wxData.title,
            desc: wxData.desc,
            link: wxData.link,
            imgUrl: wxData.imgUrl,
            success: function () {
            },
            error: function () {
            }
          });

        });

      }
    })


  });
</script>
</html>
